*
{
    margin: 0;
    padding: 0;
    height: 100%;
    outline: 1px solid red;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    /*
    border: 1px solid red;
    */
    background-color: lightgray;
    height: 70px;
    width: 100%;
    position: relative;
}

.doggy
{
    position: absolute; /* Use position to override from the header */
    left: 10px;
}

.search-bar
{
    display: flex;
    align-items: center;
    height: 40px;
}

.search-input {
    background-image: url('/images/search-icon.jpg');
    background-position: right 10px center;
    background-size: 30px;
    background-repeat: no-repeat;

    font-size: 15px;
    width: 300px;
    border-radius: 8px;
    padding-left: 10px;
    border: none;
}

.container
{
    display: flex;
    height: 100%;
}

.sidebar
{
/* border: 1px solid blue; */
    background-color: lightgray;
    width: 100px;
    height: 100%;
}
